.typewriter {
    margin: 0 auto;
}

.typewriter:after {
    content: '';
    display: inline-block;
    background-color: white;
    margin-left: 2px;
    height: 25px;
    width: 4px;
    animation: cursor 0.4s infinite;
}

.writer-hidden:after {
    display: none !important;
}


/* The typewriter cursor effect */

@keyframes cursor {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}