@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500;700&display=swap');
.action-button {
    font-family: 'M PLUS Rounded 1c', sans-serif !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hello-section {
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.hello-section-text * {
    margin: 0px auto 15px auto;
    line-height: normal !important;
    text-align: center;
}

.hello-section-text *:last-child {
    margin: 0px auto;
}

.hello-title {
    font-weight: 700;
}

.hello-subtitle {
    font-weight: 500;
}

.rainbow-transition {
    animation: rainbow-bg 10s linear;
    animation-iteration-count: infinite;
}

@keyframes rainbow-bg {
    100%,
    0% {
        background-color: rgb(255, 0, 0);
    }
    8% {
        background-color: rgb(255, 127, 0);
    }
    16% {
        background-color: rgb(255, 255, 0);
    }
    25% {
        background-color: rgb(127, 255, 0);
    }
    33% {
        background-color: rgb(0, 255, 0);
    }
    41% {
        background-color: rgb(0, 255, 127);
    }
    50% {
        background-color: rgb(0, 255, 255);
    }
    58% {
        background-color: rgb(0, 127, 255);
    }
    66% {
        background-color: rgb(53, 53, 255);
    }
    75% {
        background-color: rgb(127, 0, 255);
    }
    83% {
        background-color: rgb(255, 0, 255);
    }
    91% {
        background-color: rgb(255, 0, 127);
    }
}